/*
    Created on : 25-Jan-2017, 22:03:04
    Author     : Ben
*/
body {
    background-color: #111;
    font-family: Helvetica, Verdana, sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #666666;
    background-color: #eee;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 20px #aaa;
}

.wrapper {
    margin-top: 65px;
    width: 100%;
    background-color: #111;
}

button{
    width: 100%;
}

ul{
    list-style: none;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #444;
}

.textbox{
    width:  98%;
    height: 300px;
}

.small-textbox{
    width: 98%;
}

.left {
    width: 36%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin-top: 1%;
}

.center {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin: 1%;
}

.right {
    width: 36%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin-top: 1%;
}

.link-image {
    position: relative;
    width: 100%;
}

.link-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-box {
    width: 100%;
    display: -webkit-inline-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: inline-flex;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-link {
    -webkit-flex: auto; /* Safari 6.1+ */
    -ms-flex: auto; /* IE 10 */
    flex: auto;
    max-width: 400px;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 14px #ccc;
}

.link-box:hover {
    background-color: #000;
    opacity: 0.8;
}

.home-link-text {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    visibility: hidden;
}

.home-link:hover .home-link-text{
    visibility: visible;
    color: #fff;
}

.hover-link:hover{
    box-shadow: 0px 0px 1px #111;
}
