/*
    Created on : 25-Jan-2017, 22:03:04
    Author     : Ben
*/
body {
    background-color: #111111;
    padding: 0% 10% 0% 10%;
}

nav{
    border: 1px solid #666666;
    background-color: #eee;
    width: 100%;
    max-height: 150px;
    box-shadow: 0px 0px 40px #464;
}

button{
    width: 100%;
}

p{
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #444;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #111;
}

.textbox{
    width:  90%;
    height: 300px;
}

.small-textbox{
    width: 90%;
}

.left {
    width: 35%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin: 1%;
}

.center {
    width: 18%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin: 1%;
}

.right {
    width: 35%;
    height: 100%;
    float: left;
    background-color: #eee;
    padding: 1%;
    box-shadow: 0px 0px 40px #464;
    margin: 1%;
}

.home-link {
    background-color: #ddd;
    padding: 3px;
    margin: auto;
    box-shadow: 0px 0px 40px #464;
}

.home-link-text{

}
